<!-- <div class="title">
  <p>Usuarios <mat-icon>chevron_right</mat-icon> <span> Dependientes </span> </p>
</div> -->




<div class="content-filters row">
 
  <div class="filter-row col-md-5" >

  <img class="clear_filter" (click)="resetFilters()" [hidden]="activeButton === null" src="assets/filter_off.png" alt="">

  <button (click)="sort('usuario_nombre')" [class.active]="activeButton === 'usuario_nombre'">Nombre 
    <mat-icon [hidden]="orderNombre" >keyboard_arrow_down</mat-icon>
    <mat-icon [hidden]="!orderNombre">keyboard_arrow_up</mat-icon>
  </button>

  <button (click)="sort('usuario_identificacion')" [class.active]="activeButton === 'usuario_identificacion'">Documento
    <mat-icon [hidden]="orderCorreo" >keyboard_arrow_down</mat-icon>
    <mat-icon [hidden]="!orderCorreo">keyboard_arrow_up</mat-icon>
  </button>

  <button (click)="sort('usuario_email')" [class.active]="activeButton === 'usuario_email'">Email
    <mat-icon [hidden]="orderCorreo" >keyboard_arrow_down</mat-icon>
    <mat-icon [hidden]="!orderCorreo">keyboard_arrow_up</mat-icon>
  </button>

  <button (click)="sortListByState()" [class.active]="activeButton === 'estado'">Estado
    <mat-icon [hidden]="orderEstado" >keyboard_arrow_down</mat-icon>
    <mat-icon [hidden]="!orderEstado">keyboard_arrow_up</mat-icon>
  </button>
  </div>

  <div class="filtro-busqueda col-md-4">  
    <input #inputSearch autofocus type="text" placeholder="Nombre, documento o email"  (input)="applyFilter($event)"> 
    <mat-icon>search</mat-icon>
  </div>
  
  <div class="new col-md-3">
    <button (click)="openNew()">Crear registro</button>
  </div>
</div>
<p class="text" [hidden]="usersFiltered.length != 0">No hay usuarios que coincidan con su búsqueda.</p>





<div class="content row" *ngFor="let usuario of usersFiltered">

<!-- NOMBRE -->
  <div class="col-md-4">
    <h6>Nombre</h6>
    <p class="name"> {{usuario.usuario_nombre}}</p>
  </div>

<!-- DOCUMENTO -->
  <div class="col-md-1">
    <h6>Documento</h6>
    <p>{{usuario.usuario_identificacion}}</p>
  </div>

<!-- EMAIL -->
  <div class="col-md-3">
    <h6>Email</h6>
    <p>{{usuario.usuario_email}}</p>
  </div>

<!-- ESTADO  -->
  <div class="col-md-2">
    <h6>Estado de transfererencia</h6>
    <p [ngClass]="getStateClass(usuario.Trans_estado)">{{ getStateDescription(usuario.Trans_estado) }}</p>
  </div>

<!-- VER DETALLES  -->
  <div class=" actions col-md-2">
      <mat-icon *ngIf="!seeDetails(usuario)" (click)="toggleDetails(usuario)">visibility</mat-icon>
      <mat-icon *ngIf="seeDetails(usuario)" (click)="toggleDetails(usuario)">clear</mat-icon>
      <mat-icon class="edit"  (click)="openEdit(usuario)" >edit</mat-icon>
      <!-- (click)="borrarUsuario(usuario.id)" -->
  </div>


  <div class="details" [hidden]="!seeDetails(usuario)">
      <hr>
      <div class="content-detail row">

        <div class="col-md-6">
          <h6> Código transfererencia </h6>
          <p>{{usuario.Trans_codigo}}</p> 
          <h6> Concepto transfererencia </h6>
          <p>{{usuario.Trans_concepto}}</p> 
          <h6> Medio de pago </h6>
          <p>{{ getPayDescription(usuario.Trans_medio_pago) }}</p>
          
          <h6> Fecha de transfererencia </h6>
          <p>{{usuario.Trans_fecha}}</p> 
        </div>
        
        <div class="col-md-6">
          <h6>Código Comercio</h6>
          <p> {{usuario.comercio_codigo}}</p>
          <h6>Nit Comercio</h6>
          <p> {{usuario.comercio_nit}}</p>
          <h6>Nombre Comercio</h6>
          <p> {{usuario.comercio_nombre}}</p>
          <h6>Dirección comercio</h6>
          <p> {{usuario.comercio_direccion}}</p> 
        </div>
          
      </div>
    </div>
</div>



